/* src/styles/_variables.scss */

// 🎨 Kasa 品牌主色 (红色)
$color-primary: #FF6060;

// ⚪⚫ 基础颜色
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #F6F6F6; // 这种浅灰色用在卡片背景和折叠内容里

// 📱 响应式断点 (手机端界限)
$breakpoint-mobile: 375px;