@import 'variables';
.about {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 100px;
    margin-bottom: 38px;
    margin-top: 18px;

    .about-container {
    width: 75%; // 设计稿里折叠条比 Banner 窄一点
    margin: 0 auto; // 居中显示
    display: flex;
    flex-direction: column;
    gap: 28px; // Collapse 组件自带 margin-bottom

    .collapse-content {
        padding: 0;
    }

    
}
}



@media (max-width: $breakpoint-mobile) {
    .about {
    
    padding: 0 20px;
    margin-bottom: 19px;

    .about-container {
        width: 100%; // 手机上要占满宽度
        gap: 20px;
    }

}
    
}