@import 'variables';
.about {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 100px;
    margin-bottom: 38px;
    margin-top: 18px;

    .about-container {
    width: 75%; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 28px; 

    .collapse-content {
        padding: 0;
    }

    
}
}



@media (max-width: $breakpoint-mobile) {
    .about {
    
    padding: 0 20px;
    margin-bottom: 19px;

    .about-container {
        width: 100%; 
        gap: 20px;
    }

}
    
}