/* src/styles/Collapse.scss */

@import 'variables'; 

.collapse {
    width: 100%;
    
    .collapse-header {
        
        background-color: $color-primary; 
        color: $color-white;              
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 54px;
        padding: 10px 24px 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        position: relative;
        z-index: 2;

        h3 {
            font-size: 18px;
            font-weight: 700;
            margin: 0;
        }

        .collapse-arrow {
            width: 24px; 
            height: 24px;
            transition: transform 0.3s ease-in-out;
            transform: translateY(-3px);
            &.open {
                transform: rotate(-180deg);
            }
        }
    }

    .collapse-content {
        background-color: #FAFAFA;  
        color: $color-black;            
        
        overflow: hidden;
        max-height: 0; 
        opacity: 0;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        
        border-radius: 0 0 5px 5px;
        position: relative;
        top: -5px;

        &.open {
            max-height: 500px;
            opacity: 1;
            
        }

        .collapse-text {
            font-size: 18px;
            line-height: 1.5;
            font-weight: 400;
            margin: 25px 20px 20px 28px;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .collapse {
        margin-bottom: 20px;
        .collapse-header {
            height: 30px;
            h3 { font-size: 13px; }
            .collapse-arrow { width: 16px; height: 16px; }
        }
        .collapse-content .collapse-text {
            font-size: 12px;
            padding-top: 15px;
        }
    }
}