@import 'variables';
.home { 
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 100px;
    
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 60px; 
    background-color: #F6F6F6; 
    padding-top: 56px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 43px;
    border-radius: 25px;
}


@media (max-width: $breakpoint-mobile) {
    .home {

    padding: 0 20px;
    
    
}
    .cards-container {
        grid-template-columns: 1fr; 
        background-color: transparent; 
        padding: 0;
        gap: 20px;
    }
}